<launch>
	<node pkg="ros_rdv_bag_data" type="ros_rdv_bag_data" name="ros_rdv_bag_data" respawn="false" output="screen">
		<param name="path_src" type="string" value ="/dataset/20230418/" />
		<param name="path_dst" type="string" value ="/result/20230418/" />
		<param name="hz" type="int" value ="-1" />
	</node>
</launch>
